@mixin menuHome {
	width: 280px;
	height: 350px;
	box-shadow: 1px 1px 12px #555;
}

@mixin menuPage {
	width: 800px;
	height: 750px;
	box-shadow: 1px 1px 12px #555;
	margin: auto;
}

@mixin dishFlex {
	display: flex;
	justify-content: space-around;
}

@mixin body {
	margin: auto;
}

@mixin main {
	max-width: 710px;
	margin: auto;
}

@mixin mainMenu {
	margin-top: 50px;
	margin-bottom: 100px;
}

@mixin menuFlex {
	display: flex;
	justify-content: space-around;
}

@mixin colornav {
	color: $color-nav;
	text-decoration: none;
}

@mixin colornavHome {
	text-decoration: none;
	color: black;
}

@mixin degrade {
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	font-size: 50px;
}

@mixin titleCenter {
	text-align: center;
}
