@mixin menuHome {
	width: 280px;
	height: 350px;
	box-shadow: 1px 1px 12px #555;
}

@mixin menuPage {
	width: 800px;
	height: 1050px;
	box-shadow: 1px 1px 12px #555;
	margin: auto;
	padding-top: 15px;
	line-height: 2;
}
@mixin body {
	margin: auto;
}

@mixin main {
	max-width: 710px;
	margin: auto;
}

@mixin mainMenu {
	margin-top: 50px;
	margin-bottom: 100px;
}

@mixin menuFlex {
	display: flex;
	justify-content: space-between;
	margin-left: 70px;
	margin-right: 70px;
}

@mixin colornav {
	color: $color-nav;
	text-decoration: none;
}

@mixin colornavHome {
	text-decoration: none;
}

@mixin degrade {
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}

@mixin titleCenter {
	text-align: center;
}

@mixin traits {
	width: 250px;
	height: 5px;
}

@mixin titleFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}
