$header_footer: #19a083;
$color-nav: rgb(249, 203, 69);
$backgroundcolor-menu1: #fcdfdb;
$backgroundcolor-menu2: rgb(254, 245, 254);
$backgroundcolor-menu3: rgb(237, 249, 249);
$backgroundcolor-menu4: #fdfffd;

@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script:wght@400;500;600&family=Itim&family=Kalam&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Devonshire&family=Kaushan+Script&family=Nanum+Pen+Script&family=Parisienne&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

$policeHome: "Montserrat";

$policeTitleMenu1: "Devonshire";
$policeTitlemenu1bis: "Itim";

$policeTitleMenu2: "Croissant One";
$policeTitleMenu2bis: "DM Serif Text";

$policeTitleMenu3: "Dancing Script";
$policeTitleMenu3bis: "Nanum Pen Script";

$policeTitleMenu4: "Kaushan Script";

$policeMenu3_4: "Satisfy";
