@import "./abstracts/variables", "./abstracts/mixins";

body,
html {
	@include body;
}

main {
	@include mainMenu;
	color: rgb(61, 19, 25);
}

@import "./layout/header";

@import "./layout/footer";

.menu {
	@include menuPage;
	background-color: $backgroundcolor-menu1;
	font-family: "Satisfy-Regular";
}

.icone {
	@include degrade;
	font-size: 90px;
	display: flex;
	justify-content: center;
	padding-top: 40px;
	background-image: linear-gradient(
		to right,
		rgb(234, 80, 95),
		rgb(240, 144, 105)
	);
}

.menuOne {
	@include menuFlex;
}

.menuTwo {
	@include menuFlex;
}

.dishThree {
	margin-left: 67px;
}

h2,
h3,
h4 {
	@include titleCenter;
}

.mentionsLegales {
	display: flex;
	justify-content: space-between;
	margin: 0px 20px 0px 20px;
}

a {
	@include colornav;
}

.shakeRight:hover {
	animation: shake 0.5s;

	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.gauche {
	@include traits;
	background: rgb(61, 19, 25);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	margin-right: 40px;
}

.droite {
	@include traits;
	background: rgb(61, 19, 25);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	margin-left: 40px;
}

.titleFlex {
	@include titleFlex;
}

.iconeBottom {
	display: flex;
	justify-content: center;
}

.icone2 {
	@include degrade;
	background-image: linear-gradient(
		to right,
		rgb(234, 80, 95),
		rgb(240, 144, 105)
	);
	font-size: 50px;
	margin-right: 10px;
}
