@import "./abstracts/variables", "./abstracts/mixins";

body,
html {
	@include body;
}

main {
	@include mainMenu;
}

@import "./layout/header";

@import "./layout/footer";

.menu {
	@include menuPage;
	background-color: $backgroundcolor-menu4;
	font-family: $policeMenu3;
	font-size: 20px;
}
h2 {
	@include degrade;
	background-image: linear-gradient(
		to right,
		rgb(74, 147, 59),
		rgb(187, 245, 127)
	);
}

.flex {
	padding-left: 90px;
	display: flex;
	justify-content: space-between;
}

.price {
	text-align: right;
}
.menuOne {
	@include menuFlex;
}

.menuTwo {
	@include menuFlex;
}

.menuThree {
	@include menuFlex;
}

h2,
h3,
h4 {
	@include titleCenter;
}

a {
	@include colornav;
}

.shakeRight:hover,
.shakeLeft:hover {
	@include shake;
}

.gauche {
	@include traits;
	@include degrade;
	background: linear-gradient(to right, rgb(74, 147, 59), rgb(187, 245, 127));
	clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 50%);
	margin-right: 10px;
}

.droite {
	@include traits;
	@include degrade;
	background: linear-gradient(to right, rgb(187, 245, 127), rgb(74, 147, 59));
	clip-path: polygon(10% 0, 100% 50%, 10% 100%, 0 50%);
	margin-left: 10px;
}

.titleFlex {
	@include titleFlex;
}

h3 {
	background: linear-gradient(
			to top,
			(#000000) 0%,
			(#000000) 5%,
			transparent 5.01%
		)
		no-repeat left bottom/0 100%;

	@include animUnderline;
}

h3:hover {
	background-size: 100% 100%;
}
