@import "./abstracts/variables", "./abstracts/mixins";

body,
html {
	@include body;
}

main {
	@include mainMenu;
}

@import "./layout/header";

@import "./layout/footer";

.menu {
	@include menuPage;
	background-color: $backgroundcolor-menu3;
	font-family: $policeMenu3;
	font-size: 20px;
}
h2 {
	@include degrade;
	background-image: linear-gradient(
		to right,
		rgb(35, 63, 219),
		rgb(29, 137, 251)
	);
	font-size: 40px;
}

.flex {
	padding-left: 90px;
	display: flex;
	justify-content: space-between;
}

.price {
	text-align: right;
}

.menuOne {
	@include menuFlex;
}

.menuTwo {
	@include menuFlex;
}

.menuThree {
	@include menuFlex;
}

h2,
h3,
h4 {
	@include titleCenter;
}

.mentionsLegales {
	display: flex;
	justify-content: space-between;
	margin: 0px 20px 0px 20px;
}

a {
	@include colornav;
}

.shakeRight:hover,
.shakeLeft:hover {
	@include shake;
}

.gauche {
	@include traits;
	background: blue;
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	margin-right: 10px;
}

.droite {
	@include traits;
	background: blue;
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	margin-left: 10px;
}

.gauche2 {
	@include traits;
	background: rgb(7, 112, 243);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	margin-right: 10px;
}

.droite2 {
	@include traits;
	background: rgb(7, 112, 243);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	margin-right: 10px;
}

.gauche3 {
	@include traits;
	background: rgb(52, 157, 249);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	margin-right: 10px;
}

.droite3 {
	@include traits;
	background: rgb(52, 157, 249);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	margin-right: 10px;
}

.titleFlex {
	@include titleFlex;
}

h3 {
	background: linear-gradient(
			to top,
			(#000000) 0%,
			(#000000) 5%,
			transparent 5.01%
		)
		no-repeat left bottom/0 100%;

	@include animUnderline;
}

h3:hover {
	background-size: 100% 100%;
}
