@import "./abstracts/variables", "./abstracts/mixins";

body,
html {
	@include body;
}

main {
	@include mainMenu;
}

@import "./layout/header";

@import "./layout/footer";

.menu {
	@include menuPage;
	background-color: $backgroundcolor-menu3;
	font-family: $policeMenu3;
	font-size: 20px;
}
h2 {
	@include degrade;
	background-image: linear-gradient(
		to right,
		rgb(35, 63, 219),
		rgb(29, 137, 251)
	);
	font-size: 40px;
}

.menuOne {
	@include menuFlex;
}

.menuTwo {
	@include menuFlex;
}

.menuThree {
	@include menuFlex;
}

h2,
h3,
h4 {
	@include titleCenter;
}

.mentionsLegales {
	display: flex;
	justify-content: space-between;
	margin: 0px 20px 0px 20px;
}

a {
	@include colornav;
}

.shakeRight:hover,
.shakeLeft:hover {
	animation: shake 0.5s;

	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.gauche {
	@include traits;
	background: blue;
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	margin-right: 10px;
}

.droite {
	@include traits;
	background: blue;
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	margin-left: 10px;
}

.gauche2 {
	@include traits;
	background: rgb(7, 112, 243);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	margin-right: 10px;
}

.droite2 {
	@include traits;
	background: rgb(7, 112, 243);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	margin-right: 10px;
}

.gauche3 {
	@include traits;
	background: rgb(52, 157, 249);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	margin-right: 10px;
}

.droite3 {
	@include traits;
	background: rgb(52, 157, 249);
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	margin-right: 10px;
}

.titleFlex {
	@include titleFlex;
}
