@charset "UTF-8";
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

header {
  background: #19a083;
  text-align: center;
  color: #f9cb45;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat";
}

footer {
  background: #19a083;
  color: #f9cb45;
  margin-top: 20px;
  font-family: "Montserrat";
  font-size: 20px;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.mentionsLégales {
  margin-left: 40px;
}

.contact {
  margin-right: 40px;
}

body {
  margin: auto;
}

main {
  max-width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: #f9cb45;
  text-decoration: none;
}

h1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.menuLeft {
  width: 390px;
  min-height: 30rem;
  margin: 1rem;
  -webkit-box-shadow: 1px 1px 12px #555;
          box-shadow: 1px 1px 12px #555;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fcdfdb;
}

.fas {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#f04a5e), to(#f78f6a));
  font-size: 80px;
}

.menuRight {
  width: 390px;
  min-height: 30rem;
  margin: 1rem;
  -webkit-box-shadow: 1px 1px 12px #555;
          box-shadow: 1px 1px 12px #555;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fef5fe;
  font-family: "Croissant One";
}

.menuBottomLeft {
  width: 390px;
  min-height: 30rem;
  margin: 1rem;
  -webkit-box-shadow: 1px 1px 12px #555;
          box-shadow: 1px 1px 12px #555;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #edf9f9;
}

.menuBottomRight {
  width: 390px;
  min-height: 30rem;
  margin: 1rem;
  -webkit-box-shadow: 1px 1px 12px #555;
          box-shadow: 1px 1px 12px #555;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fdfffd;
}

.zoom:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.7;
  -webkit-transition: -webkit-transform 600ms ease-in-out;
  transition: -webkit-transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out;
  transition: transform 600ms ease-in-out, -webkit-transform 600ms ease-in-out;
}

.titleMenu1 {
  color: #3d1319;
  font-size: 40px;
  font-family: "Devonshire";
  margin-top: 1vmin;
}

.titleMenu2 {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#ea505f), to(#e49e82));
  background-image: linear-gradient(to right, #ea505f, #e49e82);
  font-family: "Croissant One";
  font-size: 29px;
}

.titleMenu3 {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#1440df), to(#2891f0));
  background-image: linear-gradient(to right, #1440df, #2891f0);
  font-family: "Dancing Script";
  font-size: 35px;
}

.titleMenu4 {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#4a933a), to(#bbf57e));
  background-image: linear-gradient(to right, #4a933a, #bbf57e);
  font-family: "Kaushan Script";
  font-size: 35px;
}

.h3menu1 {
  font-size: 55px;
  font-family: "Itim";
  color: #3d1319;
  margin: 0;
}

.h3menu2 {
  font-size: 55px;
  font-family: "DM Serif Text";
  color: #e38930;
  margin: 0;
}

.h3menu3 {
  font-size: 65px;
  font-family: "Nanum Pen Script";
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#233fdb), to(#1d89fb));
  background-image: linear-gradient(to right, #233fdb, #1d89fb);
  margin: 0;
}

.h3menu4 {
  font-size: 65px;
  font-family: "Nanum Pen Script";
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#4a933b), to(#bbf57f));
  background-image: linear-gradient(to right, #4a933b, #bbf57f);
  margin: 0;
}

.prochainement {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 110px;
}

.bouton {
  height: 45px;
  width: 350px;
  position: relative;
  background-color: #19a083;
  color: #f9cb45;
  font-family: "Montserrat";
  border-radius: 10px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.bouton1 {
  background-color: yellow;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  -webkit-animation-name: dots;
          animation-name: dots;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes dots {
  50% {
    opacity: 0;
    -webkit-transform: scale(0.7) translateY(10px);
            transform: scale(0.7) translateY(10px);
  }
}

@keyframes dots {
  50% {
    opacity: 0;
    -webkit-transform: scale(0.7) translateY(10px);
            transform: scale(0.7) translateY(10px);
  }
}

.bouton2 {
  background-color: yellow;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  -webkit-animation-name: dots;
          animation-name: dots;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@keyframes dots {
  50% {
    opacity: 0;
    -webkit-transform: scale(0.7) translateY(10px);
            transform: scale(0.7) translateY(10px);
  }
}

.bouton3 {
  background-color: yellow;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  -webkit-animation-name: dots;
          animation-name: dots;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@keyframes dots {
  50% {
    opacity: 0;
    -webkit-transform: scale(0.7) translateY(10px);
            transform: scale(0.7) translateY(10px);
  }
}

.shakeRight:hover,
.shakeLeft:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media all and (max-width: 920px) {
  body,
  html,
  main,
  header,
  footer {
    margin: auto;
  }
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5px;
  }
  .menuRight,
  .menuLeft,
  .menuBottomLeft,
  .menuBottomRight {
    margin: auto;
    margin-top: 20px;
    width: 340px;
  }
  .prochainement {
    margin-bottom: 0px;
  }
}

@media all and (max-width: 350px) {
  h2 {
    font-size: 25px;
  }
  .contact {
    font-size: 15px;
    margin-right: 5px;
  }
  .mentionsLégales {
    font-size: 15px;
    margin-left: 5px;
  }
}
/*# sourceMappingURL=main.css.map */