@import "./abstracts/variables", "./abstracts/mixins";

body,
html {
	@include body;
}

main {
	@include mainPage;
	color: rgb(61, 19, 25);
	@include menuPage;
	padding: 60px;
	background-color: $backgroundcolor-menu1;
	font-family: $policeMenu3_4;
}

@import "./layout/header";

@import "./layout/footer";

a {
	&:hover {
		transform: scale(1.2);
		opacity: 1;
		transition: transform 400ms ease-in-out;
	}
}

.fas {
	@include degrade;
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#f04a5e),
		to(#f78f6a)
	);
	font-size: 60px;
}

.iconeUp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	line-height: 0;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.price {
	font-weight: bold;
}

article {
	@include menuFlex;
}

h3,
h4 {
	@include titleCenter;
}

h3 {
	background: linear-gradient(
			to top,
			(#000000) 0%,
			(#000000) 5%,
			transparent 5.01%
		)
		no-repeat left bottom/0 100%;

	@include animUnderline;
}

h3:hover {
	background-size: 100% 100%;
}

a {
	@include colornav;
}

.shakeRight:hover,
.shakeLeft:hover {
	@include shake;
}

.gauche {
	@include traits;
	background: rgb(61, 19, 25);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.droite {
	@include traits;
	background: rgb(61, 19, 25);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.titleFlex {
	@include titleFlex;
}

.iconeBottom {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.icone2 {
	@include degrade;
	background-image: linear-gradient(
		to right,
		rgb(234, 80, 95),
		rgb(240, 144, 105)
	);
	font-size: 50px;
	margin-right: 10px;
}

@media all and (max-width: 820px) {
	main {
		height: auto;
		margin-top: 20px;
		margin-bottom: 110px;
		font-size: 21px;
	}

	.flex {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding-left: 0px;
	}

	p {
		text-align: center;
	}

	.dishThree {
		padding-left: 0px;
	}
	.menuTwo {
		flex-direction: column;
		align-items: center;
	}
}
